.App {
  text-align: center;
}




.App-header {
  background: linear-gradient(to top, rgb(1, 6, 6), rgb(168, 63, 2));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.App-link {
  color: #61dafb;
}

